<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <style>
        body {
            /* Background gradient animation */
            background: linear-gradient(45deg, #00EEFF, #000000);
            background-size: 200% 200%;
            animation: gradient-animation 6s ease infinite;
        }

        @keyframes gradient-animation {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }
    </style>
</head>


<body class="bg-gray-100 p-10">
    <!-- Header -->
    <header class="bg-gradient-to-r from-indigo-500 to-purple-500 text-white p-6 rounded-lg mb-8 shadow-md">
        <h1 class="text-4xl font-bold">Welcome, <span class="font-extrabold">{{ user }}</span></h1>
        <p class="text-lg mt-2">Here’s a summary of your health data today:</p>
    </header>

    <!-- Dashboard Content -->
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            <!-- Heart Rate Card -->
            <div class="bg-white p-6 rounded-lg shadow-md transform transition hover:scale-105 hover:shadow-lg">
                <h2 class="text-2xl font-semibold text-indigo-600 mb-2 flex items-center">
                    <span class="text-indigo-400 mr-2">💓</span>
                    Heart Rate
                </h2>
                <p class="text-gray-700 text-xl font-bold" id="data_heart_rate">{{ data.heart_rate }} bpm</p>
            </div>

            <!-- Temperature Card -->
            <div class="bg-white p-6 rounded-lg shadow-md transform transition hover:scale-105 hover:shadow-lg">
                <h2 class="text-2xl font-semibold text-purple-600 mb-2 flex items-center">
                    <span class="text-purple-400 mr-2">🌡️</span>
                    Temperature
                </h2>
                <p class="text-gray-700 text-xl font-bold" id="data_temperature">{{ data.temperature }} °C</p>
            </div>

            <!-- Position Card -->
            <div class="bg-white p-6 rounded-lg shadow-md transform transition hover:scale-105 hover:shadow-lg">
                <h2 class="text-2xl font-semibold text-green-600 mb-2 flex items-center">
                    <span class="text-green-400 mr-2">🚶</span>
                    Position
                </h2>
                <p class="text-gray-700 text-xl font-bold" id="data_position">{{ data.position }}</p>
            </div>

            <!-- Location Card -->
            <div class="bg-white p-6 rounded-lg shadow-md transform transition hover:scale-105 hover:shadow-lg">
                <h2 class="text-2xl font-semibold text-pink-600 mb-2 flex items-center">
                    <span class="text-pink-400 mr-2">📍</span>
                    Location
                </h2>
                <p class="text-gray-700 text-xl font-bold" id="data_location">{{ data.location }}</p>
            </div>
        </div>
    </div>

    <!-- Map Section -->
    <section class="mt-12">
        <div class="relative w-full h-96">
            <div id="map" class="absolute top-0 left-0 w-full h-full rounded-lg shadow-lg"></div>
            <!-- <iframe class="absolute top-0 left-0 w-full h-full rounded-lg shadow-lg"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12080.73732861526!2d-74.0059418!3d40.7127847!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zM40zMDA2JzEwLjAiTiA3NMKwMjUnMzcuNyJX!5e0!3m2!1sen!2sus!4v1648482801994!5m2!1sen!2sus"
                frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
        </div>
    </section>

    <!-- Component: Chatbot Button -->
    <button id="chatbot-toggle-btn"
        class="fixed bottom-4 right-4 inline-flex items-center justify-center text-sm font-medium disabled:pointer-events-none disabled:opacity-50 border rounded-full w-16 h-16 bg-black hover:bg-gray-700 m-0 cursor-pointer border-gray-200 bg-none p-0 normal-case leading-5 hover:text-gray-900"
        type="button" aria-haspopup="dialog" aria-expanded="false">
        <svg xmlns=" http://www.w3.org/2000/svg" width="30" height="40" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="text-white block border-gray-200 align-middle">
            <path d="m3 21 1.9-5.7a8.5 8.5 0 1 1 3.8 3.8z" class="border-gray-200">
            </path>
        </svg>
    </button>

    <!-- Chatbot Component -->
    <div id="chatbot-container" style="box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);"
        class="fixed bottom-[calc(4rem+1.5rem)] right-0 mr-4 bg-white p-6 rounded-lg border border-[#e5e7eb] w-[440px] h-[634px] hidden">
        <!-- Heading -->
        <div class="flex flex-col space-y-1.5 pb-6">
            <h2 class="font-semibold text-lg tracking-tight">Chatbot</h2>
        </div>

        <!-- Chat Container -->
        <div class="pr-4 h-[474px]" style="min-width: 100%; display: table;">
            <!-- Chat Messages (AI and User) -->
            <!-- <div class="flex gap-3 my-4 text-gray-600 text-sm flex-1">
        <span class="relative flex shrink-0 overflow-hidden rounded-full w-8 h-8">
            <div class="rounded-full bg-gray-100 border p-1">
                <svg stroke="none" fill="black" stroke-width="1.5" viewBox="0 0 24 24" aria-hidden="true" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z"></path>
                </svg>
            </div>
        </span>
        <p class="leading-relaxed"><span class="block font-bold text-gray-700">AI </span>Hi, how can I help you today?</p>
    </div>

    <div class="flex gap-3 my-4 text-gray-600 text-sm flex-1">
        <span class="relative flex shrink-0 overflow-hidden rounded-full w-8 h-8">
            <div class="rounded-full bg-gray-100 border p-1">
                <svg stroke="none" fill="black" stroke-width="0" viewBox="0 0 16 16" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"></path>
                </svg>
            </div>
        </span>
        <p class="leading-relaxed"><span class="block font-bold text-gray-700">You </span>fewafef</p>
    </div> -->
        </div>

        <!-- Input box -->
        <div class="flex items-center pt-0">
            <form class="flex items-center justify-center w-full space-x-2">
                <input
                    class="flex h-10 w-full rounded-md border border-[#e5e7eb] px-3 py-2 text-sm placeholder-[#6b7280] focus:outline-none focus:ring-2 focus:ring-[#9ca3af] disabled:cursor-not-allowed disabled:opacity-50 text-[#030712] focus-visible:ring-offset-2"
                    placeholder="Type your message">
                <button
                    class="inline-flex items-center justify-center rounded-md text-sm font-medium text-[#f9fafb] disabled:pointer-events-none disabled:opacity-50 bg-black hover:bg-[#111827E6] h-10 px-4 py-2">
                    Send
                </button>
            </form>
        </div>
    </div>
    <script>
        const map = L.map('map').setView([-6.362245927180458, 106.82413049691668], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            tileSize: 256,
            maxZoom: 19,
        }).addTo(map);



        let marker = null;
        lat = -6.362245927180458;
        long = 106.82413049691668;
        marker = L.marker([lat, long]).addTo(map);
        // Ambil elemen-elemen yang diperlukan
        const chatbotToggleBtn = document.getElementById('chatbot-toggle-btn');
        const chatbotContainer = document.getElementById('chatbot-container');
        const inputMessage = document.querySelector("input[placeholder='Type your message']");
        const chatContainer = document.querySelector(".pr-4");

        // Fungsi untuk menambah pesan ke chat container
        function addMessageToChat(message, sender = "AI") {
            const messageElement = document.createElement("div");
            messageElement.classList.add("flex", "gap-3", "my-4", "text-gray-600", "text-sm", "flex-1");

            const avatar = sender === "AI"
                ? `<svg stroke="none" fill="black" stroke-width="1.5" viewBox="0 0 24 24" height="20" width="20"><path d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z"></path></svg>`
                : `<svg stroke="none" fill="black" stroke-width="0" viewBox="0 0 16 16" height="20" width="20"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"></path></svg>`;

            messageElement.innerHTML = `
            <span class="relative flex shrink-0 overflow-hidden rounded-full w-8 h-8">${avatar}</span>
            <p class="leading-relaxed"><span class="block font-bold text-gray-700">${sender}</span> ${message}</p>
        `;
            chatContainer.appendChild(messageElement);
            chatContainer.scrollTop = chatContainer.scrollHeight;  // Scroll ke bawah setelah menambah pesan
        }

        // Event listener untuk tombol kirim pesan
        document.querySelector("form").addEventListener("submit", async (e) => {
            e.preventDefault(); // Mencegah form submit otomatis

            const userMessage = inputMessage.value;
            if (userMessage.trim() === "") return;

            addMessageToChat(userMessage, "You");  // Tampilkan pesan user
            inputMessage.value = "";  // Reset input box

            // Kirim permintaan ke FastAPI dan ambil respon dari OpenAI
            const response = await fetch("/chat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ user_message: userMessage }),
            });

            const data = await response.json();
            const aiMessage = data.ai_response;

            addMessageToChat(aiMessage, "AI");  // Tampilkan pesan dari AI
        });

        // Toggle tampilan chatbot
        chatbotToggleBtn.addEventListener('click', () => {
            chatbotContainer.classList.toggle('hidden');
        });

        const websocket = new WebSocket("ws://0.0.0.0:8000/ws");
        
        websocket.onmessage = function(event) {
            console.log("test");
            console.log("WebSocket message received:", event.data);
    
            const data = JSON.parse(event.data);
            console.log("WebSocket message received:", data);
      
            // if(data.coordinate){
            //     document.getElementById("data_location").innerText = data.coordinate.lat + ", " + data.coordinate.long;
            //     const lat = data.coordinate.lat;
            //     const long = data.coordinate.long;

            //     if (marker) {
            //         marker.setLatLng([lat, long]);
            //     } else {
            //         marker = L.marker([lat, long]).addTo(map);
            //     }

            //     map.setView([lat, long], 13);
            // }

            if(data.temperature){
                document.getElementById("data_temperature").innerText = data.temperature + "°C";
            }
            
            if(data.heartRate){
                console.log(data);
        
                document.getElementById("data_heart_rate").innerText = data.heartRate + "bpm";
            }

            if(data.position){
                document.getElementById("data_position").innerText = data.position;
            }
       
        };

        websocket.onerror = (error) => {
            console.error("WebSocket error: ", error);
        };

        websocket.onclose = () => {
            console.log("WebSocket connection closed");
        };
    </script>


</body>

</html>